.App {
  text-align: center;
}

.App-logo1 {
  height: 40vmin;
  pointer-events: none;
  fill: purple;
}
.App-logo2 {
  height: 40vmin;
  pointer-events: none;
  fill-opacity: 0.5;
}

.App-logo3 {
  height: 40vmin;
  pointer-events: none;
}

.App-logo4 {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo1 {
    animation: App-logo-spin infinite 9.1s linear;
    fill-opacity: 0.5;
  }
  .App-logo2 {
    animation: App-logo-spin infinite 11.5s linear;
  }
  .App-logo3 {
    animation: App-logo-spin infinite 11s linear;
  }
  .App-logo4 {
    animation: App-logo-spin infinite 12.4s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}
